*
{
    margin: 0px;
    padding: 0px;
    /* outline:2px solid red; */
    box-sizing: border-box;
}
body
{
    background-color: rgba(18, 17, 17, 0.982);
    max-height: 100vh;
}
.hero
{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
    padding: 10px;
}
.hero .titles
{   
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: burlywood;
    font-size: 2rem;
}
.hero h1
{
    font-size: 3.5rem;
}
.titles span
{
    color: white;
}
.components
{
    display: flex;
    justify-content: space-around;
    width: 100%;

    gap:40px;

    
}
.dragbox
{
    display: flex;
    flex-direction: column;
    gap:8px;
}
.x,.o 
{
    background-color: rgba(255, 228, 196, 0.857);
    border-radius: 5px;

    font-size: 3.5rem;
    padding: 8px;
}
.playarea
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
    gap:15px;
    
    box-shadow: 1px 1px 10px white, -1px -1px 10px white;

    padding: 20px;
}
.area
{
    height: 330px;
    width: 330px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    
    flex-wrap: wrap;
    /* gap: 8px; */
    cursor: pointer;

}
#declare
{
    color: bisque;
    font-size: 2rem;
}
.block
{
    display: inline-block;
    background-color: bisque;

    height: 100px;
    width: 100px;

    border-radius: 8px;
    font-size: 5vw;

    display: flex;
    justify-content: center;
    align-items: center;

}
.block:hover
{
    box-shadow: 3px 3px 2px white, -3px -3px 2px white;
}
#p1, #p2
{   
    margin-top: 25px;
    background-color: black;
    font-size: 3rem;  
    
    display: block;
    height: 100px;
    
    border-radius: 8px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    box-shadow: 3px 3px 1px white, -3px 3px 1px wheat;
    width: 100px;
    
    color: bisque;
}
#reset
{
    padding: 8px;
    background-color: black;
    box-shadow: 3px 3px 1px white, -3px 3px 1px wheat;
    color: bisque;
    border-radius: 8px;
    
}